.content-div {

    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

}


.content-left {
    display: grid;
    padding-left: 72px;
}

.close-x-hover {
    position: absolute;
    top: 15;
    right: 0;
    margin: 20px;
    cursor: pointer;
    opacity: 1;
}


